---
http_interactions:
- request:
    method: post
    uri: https://api.securevideo.com/session/12281
    body:
      encoding: UTF-8
      string: '{"UserId":12281,"ScheduleTs":"2016-04-16T15:00:00","Participants":[{"ParticipantFullName":"Trevor","ParticipantEmailAddress":"trevor@geemail.com","ParticipantSmsNumber":"3124455566","ParticipantDefaultResolution":"default","ParticipantTimeZoneWindowsId":"Hawaiian
        Standard Time","ShouldAutoDeliverCode":"S"}]}'
    headers:
      Authorization:
      - Basic xxx
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"SessionId\": 36209,\r\n  \"ScheduleTs\": \"2016-04-16T15:00:00\",\r\n
        \ \"BillableTs\": null,\r\n  \"BillableStatusCd\": null,\r\n  \"UserId\":
        12281,\r\n  \"IsRecorded\": false,\r\n  \"Participants\": [\r\n    {\r\n      \"ParticipationId\":
        71898,\r\n      \"ParticipantFullName\": \"Test User\",\r\n      \"SecureVideoUserId\":
        12281,\r\n      \"ParticipantEmailAddress\": \"test@test.com\",\r\n      \"ParticipantSmsNumber\":
        \"\",\r\n      \"ParticipantDefaultResolution\": \"high\",\r\n      \"ParticipantTimeZoneWindowsId\":
        \"Pacific Standard Time\",\r\n      \"ConnectCode\": 400119037,\r\n      \"ShouldAutoDeliverCode\":
        \"E\",\r\n      \"ConnectionTs\": null,\r\n      \"ExpiresTs\": null,\r\n
        \     \"RSVP\": \"Unknown\"\r\n    },\r\n    {\r\n      \"ParticipationId\":
        71899,\r\n      \"ParticipantFullName\": \"Trevor\",\r\n      \"SecureVideoUserId\":
        null,\r\n      \"ParticipantEmailAddress\": \"trevor@geemail.com\",\r\n      \"ParticipantSmsNumber\":
        \"3124455566\",\r\n      \"ParticipantDefaultResolution\": \"default\",\r\n
        \     \"ParticipantTimeZoneWindowsId\": \"Hawaiian Standard Time\",\r\n      \"ConnectCode\":
        406759828,\r\n      \"ShouldAutoDeliverCode\": \"S\",\r\n      \"ConnectionTs\":
        null,\r\n      \"ExpiresTs\": null,\r\n      \"RSVP\": \"Unknown\"\r\n    }\r\n
        \ ]\r\n}"
  recorded_at: Sat, 28 Mar 2015 13:30:55 GMT
recorded_with: VCR 2.9.3
