---
http_interactions:
- request:
    method: get
    uri: https://api.securevideo.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxxxxxxxxxxxxxxxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[\r\n  {\r\n    \"SystemUserId\":
        \"12163\",\r\n    \"FullName\": \"Test User\",\r\n    \"EmailAddress\": \"test@test.com\",\r\n
        \   \"SmsNumber\": \"\",\r\n    \"DefaultResolution\": \"high\",\r\n    \"TimeZoneWindowsId\":
        \"Pacific Standard Time\",\r\n    \"HelpNumber\": \"4084062331\",\r\n    \"VideoId\":
        \"securevideo+sv000001216323790188\"\r\n  }\r\n]"
  recorded_at: Thu, 26 Mar 2015 08:53:30 GMT
recorded_with: VCR 2.9.3
