---
http_interactions:
- request:
    method: get
    uri: https://api.securevideo.com/session/12281?UserId=12281
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[\r\n  {\r\n    \"SessionId\": 36208,\r\n    \"ScheduleTs\": \"2017-02-04T22:00:00\",\r\n
        \   \"BillableTs\": null,\r\n    \"BillableStatusCd\": null,\r\n    \"UserId\":
        12281,\r\n    \"IsRecorded\": false,\r\n    \"Participants\": [\r\n      {\r\n
        \       \"ParticipationId\": 71896,\r\n        \"ParticipantFullName\": \"Test
        User\",\r\n        \"SecureVideoUserId\": 12281,\r\n        \"ParticipantEmailAddress\":
        \"test@test.com\",\r\n        \"ParticipantSmsNumber\": \"\",\r\n        \"ParticipantDefaultResolution\":
        \"high\",\r\n        \"ParticipantTimeZoneWindowsId\": \"Pacific Standard
        Time\",\r\n        \"ConnectCode\": 204848645,\r\n        \"ShouldAutoDeliverCode\":
        \"E\",\r\n        \"ConnectionTs\": null,\r\n        \"ExpiresTs\": null,\r\n
        \       \"RSVP\": \"Unknown\"\r\n      },\r\n      {\r\n        \"ParticipationId\":
        71897,\r\n        \"ParticipantFullName\": \"Trevor\",\r\n        \"SecureVideoUserId\":
        null,\r\n        \"ParticipantEmailAddress\": \"trevor@geemail.com\",\r\n
        \       \"ParticipantSmsNumber\": \"3124455566\",\r\n        \"ParticipantDefaultResolution\":
        \"default\",\r\n        \"ParticipantTimeZoneWindowsId\": \"Hawaiian Standard
        Time\",\r\n        \"ConnectCode\": 207464714,\r\n        \"ShouldAutoDeliverCode\":
        \"S\",\r\n        \"ConnectionTs\": null,\r\n        \"ExpiresTs\": null,\r\n
        \       \"RSVP\": \"Unknown\"\r\n      }\r\n    ]\r\n  }\r\n]"
  recorded_at: Sat, 28 Mar 2015 13:29:04 GMT
- request:
    method: delete
    uri: https://api.securevideo.com/session/36208
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic xxxx
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Mar 2015 13:29:05 GMT
recorded_with: VCR 2.9.3
