---
http_interactions:
- request:
    method: get
    uri: https://api.securevideo.com/user/12283
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxxx
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"SystemUserId\": \"12283\",\r\n  \"FullName\": \"testUserName\",\r\n
        \ \"EmailAddress\": \"testuser@test.com\",\r\n  \"SmsNumber\": \"\",\r\n  \"DefaultResolution\":
        \"high\",\r\n  \"TimeZoneWindowsId\": \"Pacific Standard Time\",\r\n  \"HelpNumber\":
        \"4084062331\",\r\n  \"VideoId\": \"securevideo+sv000001228327978610\"\r\n}"
  recorded_at: Thu, 26 Mar 2015 09:33:49 GMT
[...]
- request:
    method: get
    uri: https://api.securevideo.com/user/12283
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic xxxx
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"Message\": \"User not found\"\r\n}"
  recorded_at: Thu, 26 Mar 2015 09:33:52 GMT
recorded_with: VCR 2.9.3
